
@{
    ViewBag.Title = "Weather";
}


<h2>Weather</h2>


<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            <label for="countries"><span class="glyphicon glyphicon-hand-up"></span>Country</label>
            <select class="selectpicker" id="countries" data-show-subtext="true" data-live-search="true" data-none-selected-text="Select" data-width="fit">
                <option data-tokens="select">Select</option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            <label for="cities"><span class="glyphicon glyphicon-hand-up"></span>City</label>
            <select class="selectpicker" id="cities" data-show-subtext="true" data-live-search="true" data-none-selected-text="Select" data-width="fit">
                <option data-tokens="select">Select</option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            <button type="button" id="btncurweather" class="btn btn-primary">Текущая погода</button>
        </div>
    </div>
</div>


<script>
    $(function () {

        $('select').selectpicker();
        $(".dropdown").css("min-width", "200px");
        GetCountries();       
    });


    $('#countries').on('change', function (e) {
        
        if (this.selectedIndex != 0) {
           // alert(this.selectedIndex);
                        GetCities(this.options[this.selectedIndex].value);
          }
    });


     $("#btncurweather").on("click", function (e) {
                e.preventDefault();
          const elem = $('#cities');  
         const city = elem.val();

         GetCurrentWeather(city); 
     });

    function GetCountries() {

        const elem = $('#countries');
        $.get("api/Countries", function (data) {

               data.forEach(function (item) {
                    var option = $('<option/>');
                    option.val(item.Code);
                    option.text(item.Name);
                    elem.append(option);
               });
                
                elem.selectpicker('refresh');
        });
    }

    function GetCities(country) {
            //alert(country);
        const elem = $('#cities');
        $.get("api/Cities", { code: country },  function (data) {

               data.forEach(function (item) {
                    var option = $('<option/>');
                    option.val(item.Id);
                    option.text(item.Name);
                    elem.append(option);
               });
                
                elem.selectpicker('refresh');
        });
    }


    function GetCurrentWeather(city) {
            alert(city);
       
        $.get("api/Weathers", { city: city },  function (data) {
            alert('hgj');

        });
    }


</script>
